<app-writing-subheader
  [editingBeat]="selectedBeat"
  [timelineView]="timelineView"
  [relevantTags]="relevantTags"
  (showPreview)="showPreview($event)"
  (beatMeatadataUpdates)="updateBeatMetadata($event)"></app-writing-subheader>
<div class="bottom-content">
  <app-writing-content
    [referenceBeat]="referenceBeat"
    [editorText]="selectedBeat.prose"
    (hideCard)="hidePreview()"
    (editorTextChanged)="editorTextChanged($event)"
    (goToReference)="navigateToPreview()"
  ></app-writing-content>
  <app-writing-sidebar></app-writing-sidebar>
</div>
