<div style="padding: 25px; margin: 0;">
  <h1 style=" text-align: center;">Welcome to Revision</h1>

  <button
    style="margin: 25px auto; text-align: center; display: block;"
    (click)="signIn()" mat-raised-button color="primary"
  >Sign In with Google</button>
  <mat-divider></mat-divider>
  <h4>Revision leverages Google Docs to store and manage your work</h4>
  <p>
    This helps ensure that you retain full control and ownership of your writing,
    and you're able to control who can collaborate on your work with you.
  </p>
  <p>Click the "Sign In" button above to get started.</p>
  <h4>What is "Revision"?</h4>
  <p>
    Great question! Jon should fill this in more later, but the short answer is that
    it's a serverless web tool for screenwriters to write and collaborate. We don't store
    any of your data, we only interact with Google Docs on your behalf to store your
    changes and updates.
  </p>
  <h4>Where can I see the source code?</h4>
  <a href="https://github.com/jon-simpkins/revision" target="_blank">Here!</a>
</div>

