<h3 *ngIf="isEmpty()">no tag selected</h3>

<ng-container *ngIf="!isEmpty()">
  <div class="row">
    <label>
      Name
      <input
        placeholder="Tag name"
        [value]="tag?.name"
        (input)="onNameInput($event)"/>
    </label>
  </div>

  <div class="row">
    <label>
      Has numeric value
      <input type="checkbox"
             [checked]="hasNumericValue()"
             (change)="onHasNumericValueCheckbox($event)"
      />
    </label>
  </div>

  <div class="row">
    <label for="description-input">
      Description
    </label>
  </div>
  <div class="row">
    <textarea
      id="description-input"
      placeholder="Tag description"
      [rows]="5"
      [value]="tag?.description"
      (input)="onDescriptionInput($event)"></textarea>
  </div>

  <div>
    <h4>Enum values</h4>
    <button (click)="addEnumValue()">
      +
    </button>

    <div *ngFor="let enumValue of tag?.enumValues; let i = index">
      <label>
        Label
        <input
          placeholder="Option label"
          [value]="enumValue.label"
          (input)="setEnumLabel(i, $event)"/>
      </label>
      <label>
        Enabled
        <input type="checkbox"
               [checked]="!enumValue.isDeprecated"
               (change)="setDeprecatedEnum(i, $event)"
        />
      </label>
    </div>
  </div>
</ng-container>
