<h3 *ngIf="isEmpty()">no tag selected</h3>

<ng-container *ngIf="!isEmpty()">
  <div class="row">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Tag name"
        [value]="tag?.name"
        (input)="onNameInput($event)"/>
    </mat-form-field>

    <mat-checkbox
      [checked]="hasNumericValue()"
      (change)="onHasNumericValueCheckbox($event)"
    >Has numeric value</mat-checkbox>
  </div>

  <div class="row">
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Tag description"
        [rows]="5"
        [value]="tag?.description"
        (input)="onDescriptionInput($event)"></textarea>
    </mat-form-field>
  </div>

  <div>
    <h4>Enum values</h4>
    <button mat-stroked-button (click)="addEnumValue()">
      Add
    </button>

    <div *ngFor="let enumValue of tag?.enumValues; let i = index">
      <mat-form-field class="full-width">
        <mat-label>Label</mat-label>
        <input
          matInput
          placeholder="Option label"
          [value]="enumValue.label"
          (input)="setEnumLabel(i, $event)"/>
      </mat-form-field>
      <mat-checkbox
        [checked]="!enumValue.isDeprecated"
        (change)="setDeprecatedEnum(i, $event)"
      >Enabled</mat-checkbox>
    </div>
  </div>
</ng-container>
