<!-- Up here, we'll eventually want to put the countdown timer stuff,
     for showing progress on a particular task or action
-->
<action-bar></action-bar>
<div [ngSwitch]="pagePath">
    <workspace-menu *ngSwitchCase="routes.WORKSPACE_MENU"></workspace-menu>
    <action-menu *ngSwitchCase="routes.ACTION_MENU"></action-menu>
    <create-new-story *ngSwitchCase="routes.CREATE_NEW_STORY"></create-new-story>
    <detail-similar-movies *ngSwitchCase="routes.DETAIL_SIMILAR_MOVIES"></detail-similar-movies>
    <revision-history *ngSwitchCase="routes.REVISION_HISTORY"></revision-history>
    <assign-similar-movies *ngSwitchCase="routes.ASSIGN_SIMILAR_MOVIES"></assign-similar-movies>
    <story-view-page *ngSwitchCase="routes.STORY_VIEW_PAGE"></story-view-page>
</div>