<h3>{{editContext.headerPrompt}}</h3>
<p>{{editContext.userGuidance}}</p>

<div id="{{editorId}}-toolbar">
  <span>Word Count: {{wordCount}}</span>
  <span style="margin-left: 1em; border-left: 1px solid black; padding-left: 1em;">
    Approx. Page Count: {{pageCount | number: '1.0-2'}}
  </span>
</div>
<div style="position: relative;"><!-- Just for overflow handling of tooltips -->
  <div style="max-height: 40vh; overflow: scroll; position: relative; padding-bottom: 2em;" id="{{editorId}}"></div>
</div>

