<h3>{{editContext.headerPrompt}}</h3>
<p>{{editContext.userGuidance}}</p>

<mat-form-field style="display: block;">
  <mat-label>Select a content type</mat-label>
  <mat-select
    [(value)]="editContent.targetType"
    (valueChange)="updateTargetType($event)"
  >
    <mat-option
      *ngFor="let option of contentTypes;"
      [value]="option.value"
    >
      {{option.label}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field style="display: block;">
  <mat-label>Select a piece of content</mat-label>
  <mat-select
    [(value)]="editContent.targetRefId"
    (valueChange)="updateTargetId($event)"
  >
    <ng-container
      *ngFor="let option of editContext.contentRefOptions;">
      <mat-option
        *ngIf="option.type === editContent.targetType"
        [value]="option.refId"
      >
        {{option.label}}
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>

<div *ngIf="currentOption && !!currentOption.existingScrapId">
  <button mat-stroked-button
    (click)="previewCurrentOption()"
  >
    <mat-icon>chevron_left</mat-icon>
    Preview Content
  </button>
</div>
