.edit-links {
  display: flex;
  margin-bottom: 8px;

  span {
    flex: 1;
  }
}

.tag-option-wrapper {
  background: #ccc;
  padding: 8px;
  overflow-y: scroll;
  max-height: 200px;

  .tag-option {
    margin-bottom: 8px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px;

    &.selected {
      border: 2px solid blue;
    }
  }
}


.selected-tag {
  .description {
    margin: 8px;
    padding-left: 16px;
    font-style: italic;
  }
}

.action-row {
  text-align: right;
}

.selected-tags-wrapper {
  background: #ccc;
  padding: 8px;
  overflow-y: scroll;
  max-height: 200px;

  .tag-reference {
    margin-bottom: 8px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px;

    .title-row {
      display: flex;
      span {
        flex: 1;
        margin: auto;
      }
    }

    .number-input, .enum-input {
      display: block;
    }
  }
}
