
<div style="display: flex; flex-direction: row;">
  <div style="flex: 1;">
    <h2>Story List</h2>
    <button mat-raised-button color="primary" (click)="createStory()">Create New</button>

    <mat-action-list>
      <ng-container *ngFor="let summary of storyService.storySummaries">
        <button mat-list-item (click)="seeDetails(summary.documentId)">
          {{summary.getLastUpdateStr()}}
          <a target="_blank" href="https://docs.google.com/document/d/{{summary.documentId}}/edit">
            <button mat-button>
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </a>
        </button>
      </ng-container>
    </mat-action-list>
  </div>
</div>


