<h3 *ngIf="isEmpty()">no template selected</h3>

<ng-container *ngIf="!isEmpty()">
  <div class="row">
    <mat-form-field class="full-width">
      <mat-label>Label</mat-label>
      <input
        matInput
        placeholder="Template label"
        [value]="brainstormTemplate?.label"
        (input)="onLabelInput($event)"/>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="full-width">
      <mat-label>Template</mat-label>
      <textarea
        matInput
        placeholder="Template"
        [rows]="5"
        [value]="brainstormTemplate?.template"
        (input)="onTemplateInput($event)"></textarea>
    </mat-form-field>
  </div>
</ng-container>
