<h3 *ngIf="isEmpty()">no template selected</h3>

<ng-container *ngIf="!isEmpty()">
  <div class="row">
    <label>
      Label
      <input
        placeholder="Template label"
        [value]="brainstormTemplate?.label"
        (input)="onLabelInput($event)"/>
    </label>
  </div>

  <div class="row">
      <label for="template-content">Template</label>
      <textarea
        id="template-content"
        placeholder="Template"
        [rows]="5"
        [value]="brainstormTemplate?.template"
        (input)="onTemplateInput($event)"></textarea>
  </div>
</ng-container>
