<div class="left-rail">
  <div class="button-row">
    <button (click)="createNewTemplate()">
      +
    </button>
    <button
      (click)="deleteTemplate.emit()"
      [disabled]="!canDelete()">
      -
    </button>
    <button title="Create" (click)="generateStandardTemplates.emit()">
      C
    </button>
  </div>
  <ul>
    <li
      *ngFor="let brainstormTemplate of brainstormTemplateListView"
      [class.selected]="brainstormTemplate.id === selectedTemplateId"
      (click)="selectTemplate.emit(brainstormTemplate.id)">
      {{brainstormTemplate.label}}
    </li>
  </ul>
</div>
