<div cdkDropListGroup>
  <div class="list-header">
    <h2>Structure</h2>
    <button (click)="toggleStructureAddView()">
      <ng-container *ngIf="structureAddView">X</ng-container>
      <ng-container *ngIf="!structureAddView">+</ng-container>
    </button>
  </div>
  <div
    *ngIf="!structureAddView"
    cdkDropList id="structure"
       [cdkDropListData]="structureListView"
       class="beat-list"
       (cdkDropListDropped)="drop($event)">
    <div *ngIf="structureListView.length == 0" class="empty-message">No items</div>
    <div *ngFor="let beat of structureListView"
      class="beat-item" cdkDrag
         [class.selected]="beat.id == previewBeatId"
         (click)="selectBeat(beat.id)">
      <div>{{beat.name}}</div>
      <div class="beat-details">
        ({{formatDurationMs(beat.intendedDurationMs)}}) {{formatCompleteness(beat.completeness)}}
      </div>
      <div *ngIf="beat.id == previewBeatId" class="delete-actions">
        <button (click)="removeBeat(beat.id, 'structure')">Remove</button>
        <button (click)="deleteBeat(beat.id)">Delete</button>
      </div>
    </div>
  </div>
  <div *ngIf="structureAddView">
    <button (click)="addNewBeatToList('structure')">Add new (blank)</button>
  </div>
  <div class="list-header">
    <h2>Brainstorm</h2>
    <button (click)="toggleBrainstormAddView()">
      <ng-container *ngIf="brainstormAddView">X</ng-container>
      <ng-container *ngIf="!brainstormAddView">+</ng-container>
    </button>
  </div>
  <div
    *ngIf="!brainstormAddView"
    cdkDropList id="brainstorm"
       [cdkDropListData]="brainstormListView"
       class="beat-list"
       (cdkDropListDropped)="drop($event)">
    <div *ngIf="brainstormListView.length == 0" class="empty-message">No items</div>
    <div *ngFor="let beat of brainstormListView"
         class="beat-item" cdkDrag
         [class.selected]="beat.id == previewBeatId"
         (click)="selectBeat(beat.id)">
      <div>{{beat.name}}</div>
      <div class="beat-details">
        ({{formatDurationMs(beat.intendedDurationMs)}}) {{formatCompleteness(beat.completeness)}}
      </div>
      <div *ngIf="beat.id == previewBeatId" class="delete-actions">
        <button (click)="removeBeat(beat.id, 'brainstorm')">Remove</button>
        <button (click)="deleteBeat(beat.id)">Delete</button>
      </div>
    </div>
  </div>
  <div *ngIf="brainstormAddView">
    <button (click)="addNewBeatToList('brainstorm')">Add new (blank)</button>
  </div>
</div>
