<div cdkDropListGroup>
  <div *ngFor="let list of beatDropLists" class="list-container">
    <div class="list-header">
      <h2>{{list.label}}</h2>
      <button mat-icon-button (click)="newBeat.emit(list.listType)">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button
        mat-icon-button
        [disabled]="!canDelete(list.listType)"
        (click)="deleteBeat.emit()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>


    <div
      cdkDropList
      [id]="list.id"
      [cdkDropListData]="list.items"
      class="beat-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngIf="list.items.length == 0" class="empty-message">No items</div>
      <div
        *ngFor="let beat of list.items"
        class="beat-item" cdkDrag
        [class.selected]="beat.id == selectedBeatId"
        (click)="selectBeat.emit(beat.id)">
        {{beat.name}} ({{formatDurationMs(beat.intendedDurationMs)}})
      </div>
    </div>
  </div>
</div>
