<div class="left-rail">
  <div class="button-row">
    <button mat-icon-button (click)="createNewTemplate()">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="deleteTag.emit()"
      [disabled]="!canDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <mat-action-list dense>
    <button
      *ngFor="let tag of tagListView"
      mat-list-item
      (click)="selectTag.emit(tag.id)">
      <mat-icon
        *ngIf="tag.id === selectedTagId"
        matListIcon>
        arrow_right
      </mat-icon>
      {{tag.name}}
    </button>
  </mat-action-list>
</div>
