<p>Let's edit some very basic details about the character.</p>

<p>
    <smart-link-btn [getTargetAction]="getViewCharacterAction" label="View Character Details"></smart-link-btn>
</p>

<form>
    <mat-form-field style="width: 100%">
        <input matInput placeholder="Name" [value]="getCharacterName()" (input)="nameInput($event)">
    </mat-form-field>
    <div style="display: flex;">
        <mat-form-field style="flex: 1;">
            <mat-label>Character Type</mat-label>
            <mat-select [value]="getCharacterType()" (valueChange)="changeCharacterType($event)">
                <mat-option *ngFor="let type of getTypeOptions()" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p style="flex: 1; margin: 0 2em; font-size: 14px;">
            {{getCharacterTypeDescription()}}
        </p>
    </div>
</form>