<div *ngIf="!!storyService.currentId; else loadingScreen" >
  <div style="margin-bottom: 25px; display: flex; padding: 12px;">
    <button mat-button
      style="flex: 0 0 50px; text-align: left"
      (click)="backToList()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span style="flex: 1; text-align: center;">
    Placeholder for status
  </span>
    <a target="_blank" href="https://docs.google.com/document/d/{{storyService.currentId}}/edit"
       style="flex: 0 0 50px; text-align: right"
    >
      <button mat-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </a>
  </div>

  <div>
    <div style="display: flex;">
    <span style="flex: 0 0 100px;">
      <button mat-button
        *ngIf="screenService.showViewPanel()"
        (click)="screenService.toggleViewNav()"
      >
        <mat-icon>
          {{screenService.showViewNav ? 'chevron_left' : 'more_horiz'}}
        </mat-icon>
      </button>
    </span>
      <span style="flex: 1; text-align: center;">
      <button mat-button
        [color]="screenService.currentDetailsPanelView === 'view' ? 'primary' : null"
        (click)="screenService.setDetailPanelView('view', true)"
        [disabled]="!screenService.viewOptions.length"
      >
        <mat-icon>description</mat-icon>
      </button>
      <button mat-button
        [color]="screenService.currentDetailsPanelView === 'split' ? 'primary' : null"
        (click)="screenService.setDetailPanelView('split', true)"
        [disabled]="!screenService.viewOptions.length"
      >
        <mat-icon>compare</mat-icon>
      </button>
      <button mat-button
        [color]="screenService.currentDetailsPanelView === 'edit' ? 'primary' : null"
        (click)="screenService.setDetailPanelView('edit', true)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </span>
      <span style="flex: 0 0 100px; text-align: right;">
      <button mat-button
        *ngIf="screenService.showEditPanel()"
        (click)="screenService.toggleEditNav()"
      >
        <mat-icon>
          {{screenService.showEditNav ? 'chevron_right' : 'more_horiz'}}
        </mat-icon>
      </button>
    </span>
    </div>
    <mat-sidenav-container>
      <mat-sidenav mode="side"
        [opened]="screenService.showViewNav"
      >
        <view-nav></view-nav>
      </mat-sidenav>

      <div style="display: flex; border: 1px solid black;">
        <div
          style="border: 1px solid green; flex: 1; padding: 12px;"
          *ngIf="screenService.showViewPanel()"
        >
          <h3>View Content Placeholder</h3>
          <p>Here we'll show Scraps that are already written</p>
          <p>Currently selected Scrap: {{storyService.fetchViewScrap(screenService.currentViewScrapId)}}</p>
        </div>
        <div
          style="border: 1px solid red; flex: 1; padding: 12px;"
          *ngIf="screenService.showEditPanel()"
        >
          <div *ngIf="contentEditService.currentScrapId; else editPlaceholder">
            <edit-panel-content
              [editType]="contentEditService.editType"
              [editContext]="contentEditService.editContext"
              [editContent]="contentEditService.originalContent"
            ></edit-panel-content>
          </div>
          <ng-template #editPlaceholder>
            <h3>Please select a scrap to edit</h3>
          </ng-template>
        </div>
      </div>
      <mat-sidenav mode="side" position="end"
         [opened]="screenService.showEditNav"
      >
        Sidenav content right
      </mat-sidenav>

    </mat-sidenav-container>
  </div>
</div>

<ng-template #loadingScreen>
  <div>loading...</div>
</ng-template>
