<div *ngIf="!!storyService.currentId; else loadingScreen"
  style="display: flex; flex-direction: column;"
>
  <div style="margin-bottom: 25px; display: flex; padding: 12px;">
    <button mat-button
      style="flex: 0 0 50px; text-align: left"
      (click)="backToList()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span style="flex: 1; text-align: center;">
      <edit-header></edit-header>
    </span>
    <a target="_blank" href="https://docs.google.com/document/d/{{storyService.currentId}}/edit"
       style="flex: 0 0 50px; margin: auto; text-align: right"
    >
      <button mat-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </a>
  </div>

  <div style="flex: 1;">
    <div style="display: flex;">
      <span style="flex: 1; text-align: center;">
      <button mat-button
        [color]="screenService.currentDetailsPanelView === 'view' ? 'primary' : null"
        (click)="screenService.setDetailPanelView('view')"
        [disabled]="!screenService.viewOptions.length"
      >
        <mat-icon>description</mat-icon>
      </button>
      <button mat-button
        [color]="screenService.currentDetailsPanelView === 'split' ? 'primary' : null"
        (click)="screenService.setDetailPanelView('split')"
        [disabled]="!screenService.viewOptions.length"
      >
        <mat-icon>compare</mat-icon>
      </button>
      <button mat-button
        [color]="screenService.currentDetailsPanelView === 'edit' ? 'primary' : null"
        (click)="screenService.setDetailPanelView('edit')"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </span>
    </div>
    <div style="display: flex; height: 80vh;">
      <div
        style="border: 1px solid green; flex: 1; padding: 12px; overflow: scroll;"
        *ngIf="screenService.showViewPanel()"
      >
        <view-panel-content
          [viewContentBlocks]="screenService.viewContent"
        ></view-panel-content>
      </div>
      <div
        style="border: 1px solid red; flex: 1; padding: 12px; overflow: scroll;"
        *ngIf="screenService.showEditPanel()"
      >
        <div *ngIf="contentEditService.currentScrapId; else editPlaceholder">
          <edit-panel-content
            [editContext]="contentEditService.editContext"
            [editContent]="contentEditService.currentContent"
          ></edit-panel-content>
        </div>
        <ng-template #editPlaceholder>
          <div *ngIf="screenService.editOptionsByPrototype.length">
            <h3>Please select a category of scrap to edit</h3>
            <button
              *ngFor="let prototypeOption of screenService.editOptionsByPrototype"
              mat-stroked-button
              style="display: block; width: 100%"
              (click)="chooseRandomEdit(prototypeOption.prototype)"
            >{{prototypeOption.label}} ({{prototypeOption.count}})</button>
          </div>
          <div *ngIf="!screenService.editOptionsByPrototype.length">
            <h3>Congrats!</h3>
            <p>All available scraps have at least 1 draft completed!</p>
            <p>Feel free to revise away and improve the story,
              or head back to the story list and start work on the next one!</p>
          </div>
          <div>
            <h4>Or, just write!</h4>
            <button
              mat-stroked-button
              style="display: block; width: 100%"
              (click)="startRandomScript()"
            >Write new scene</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingScreen>
  <div>loading...</div>
</ng-template>
