
<h3>Similar Movies <smart-link-btn [getTargetAction]="getSimilarMovieEditAction" icon="edit"></smart-link-btn></h3>
<similar-movie-list
    [similarMovieList]="getSimilarMovies()"
></similar-movie-list>

<h3>Logline <smart-link-btn [getTargetAction]="getLoglineEditAction" icon="edit"></smart-link-btn></h3>
<quill-editor
    [initialRawText]="getLogline()"
    [readOnlyMode]="true"
></quill-editor>

<h3>Runtime <smart-link-btn [getTargetAction]="getRuntimeEditAction" icon="edit"></smart-link-btn></h3>
<p>{{getRuntimeMin()}} min</p>

<h3>Plot Sequence <smart-link-btn [getTargetAction]="getPlotSequenceViewEditAction" [icon]="getPlotSequenceViewEditIcon()"></smart-link-btn></h3>