<h3 *ngIf="isEmpty()">no beat selected</h3>

<ng-container *ngIf="!isEmpty()">
  <mat-form-field class="full-width">
    <mat-label>One-Liner Synopsis</mat-label>
    <input
      matInput
      placeholder="Beat synopsis"
      [value]="beat?.synopsis"
      (input)="onSynopsisInput($event)"/>
  </mat-form-field>
  <div class="full-width">
    <mat-form-field>
      <mat-label>Completeness</mat-label>
      <mat-select
        [value]="beat?.completeness"
        (valueChange)="onCompletenessChange($event)">
        <mat-option
          *ngFor="let option of completenessOptions"
          [value]="option.value">
          {{option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="full-width">
    <mat-form-field>
      <mat-label>Duration (mm:ss)</mat-label>
      <input
        matInput
        placeholder="Duration"
        [value]="getBeatDurationStr()"
        (input)="onDurationInput($event)"/>
    </mat-form-field>
    <div *ngIf="shouldShowChildSumDuration()">
      {{getChildSumDurationStr()}}
    </div>
  </div>

  <quill-editor
    [ngModel]="beat?.prose"
    format="text"
    [formats]="[]"
    (onContentChanged)="onProseChanged($event)"
  >
    <div quill-editor-toolbar>
      &nbsp;
    </div>
  </quill-editor>
</ng-container>
