<div class="left-rail">
  <div class="button-row">
    <button mat-icon-button (click)="createNewTemplate()">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="deleteTemplate.emit()"
      [disabled]="!canDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <mat-action-list dense>
    <button
      *ngFor="let structureTemplate of structureTemplateListView"
      mat-list-item
      (click)="selectTemplate.emit(structureTemplate.id)">
      <mat-icon
        *ngIf="structureTemplate.id === selectedTemplateId"
        matListIcon>
        arrow_right
      </mat-icon>
      {{structureTemplate.name}}
    </button>
  </mat-action-list>
</div>
