<div class="left-rail">
  <div class="button-row">
    <icon-button icon="add" (click)="createNewTemplate()"></icon-button>
    <icon-button
      icon="remove"
      (click)="deleteTemplate.emit()"
      [disabled]="!canDelete()"></icon-button>
    <icon-button
      title="Create"
      icon="add_circle_outline"
      (click)="generateStandardTemplates.emit()"></icon-button>
  </div>
  <ul>
    <li
      *ngFor="let structureTemplate of structureTemplateListView"
      [class.selected]="structureTemplate.id === selectedTemplateId"
      (click)="selectTemplate.emit(structureTemplate.id)">
      {{structureTemplate.name}}
    </li>
  </ul>
</div>
