<div class="left-rail">
  <div class="button-row">
    <button (click)="createNewTemplate()">
      +
    </button>
    <button
      (click)="deleteTemplate.emit()"
      [disabled]="!canDelete()">
      -
    </button>
    <button title="Create" (click)="generateStandardTemplates.emit()">
      C
    </button>
  </div>
  <ul>
    <li
      *ngFor="let structureTemplate of structureTemplateListView"
      [class.selected]="structureTemplate.id === selectedTemplateId"
      (click)="selectTemplate.emit(structureTemplate.id)">
      {{structureTemplate.name}}
    </li>
  </ul>
</div>
