
.wrapper {
  display: flex;


  .mode-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    border-right: 1px solid black;
    font-family: CourierPrime, monospace;
  }

  .content {
    flex: 1;
  }
}


