<div class="wrapper">
  <div class="mode-buttons">
    <icon-button
      title="Collapse / Expand"
      [icon]="collapseIcon()"
      (click)="toggleCollapse()"></icon-button>
    <ng-container *ngIf="!isCollapsed">
      <icon-button
        title="Metadata"
        icon="tune"
        (click)="selectMetadata()"
        [selected]="metadataSelected"></icon-button>
      <icon-button
        title="Timeline"
        icon="burst_mode"
        (click)="selectTimeline()"
        [selected]="timelineSelected"></icon-button>
      <icon-button
        title="Ancestors"
        icon="switch_account"
        (click)="selectAncestorView()"
        [selected]="ancestorViewSelected">
      </icon-button>
    </ng-container>
  </div>
  <div class="content">
    <div *ngIf="isCollapsed">
      {{editingBeat.synopsis}}
    </div>
    <ng-container *ngIf="!isCollapsed">
      <app-writing-metadata
        *ngIf="isMetadata()"
        [editingBeat]="editingBeat"
        (beatMeatadataUpdates)="beatMeatadataUpdates.emit($event)"></app-writing-metadata>
      <app-timeline-chart
        *ngIf="isTimeline()"
        [timelineBlocks]="timelineView"
        [relevantTags]="relevantTags"
        (selectBeat)="selectBeat($event)"></app-timeline-chart>
      <app-writing-ancestor
        *ngIf="isAncestorView()"
        [ancestorView]="ancestorView"
        (showPreview)="selectBeat($event)"></app-writing-ancestor>
    </ng-container>
  </div>
</div>
