<div class="wrapper">
  <div class="mode-buttons">
    <button
      title="Metadata"
      (click)="selectMetadata()"
      [class.isSelected]="metadataSelected">
        M
    </button>
    <button
      title="Timeline"
      (click)="selectTimeline()"
      [class.isSelected]="timelineSelected">
      T
    </button>
  </div>
  <div class="content">
    <app-writing-metadata
      *ngIf="isMetadata()"
      [editingBeat]="editingBeat"
      (beatMeatadataUpdates)="beatMeatadataUpdates.emit($event)"></app-writing-metadata>
    <app-timeline-chart
      *ngIf="isTimeline()"
      [timelineBlocks]="timelineView"
      [relevantTags]="relevantTags"
      (selectBeat)="selectBeat($event)"></app-timeline-chart>
  </div>
</div>
