<label>Synopsis
  <input type="text" [value]="editingBeat.synopsis" (input)="onSynopsisChange($event)">
</label>
<label
  [class.error-msg]="duratationStrErrorStage">Duration (mm:ss)
  <input
    type="text"
    [value]="durationStr"
    (blur)="onDurationBlur()"
    (input)="onDurationChange($event)">
</label>
<label>Completeness
  <select [ngModel]="editingBeat.completeness" (input)="onCompletenessChange($event)">
    <option *ngFor="let option of completenessOptions"
            [value]="option.value">{{option.label}}</option>
  </select>
</label>
