$header-opacity: 0.1;
$header-vert-padding: 4px;

$left-border: 8px solid;

$finished-color: rgb(0, 128, 0);
$polished-color: rgb(173, 255, 47);
$initial-draft-color: rgb(255, 255, 0);
$brainstorm-color: rgb(255, 128, 0);
$not-started-color: rgb(255, 0, 0);

.beat {

  margin: 0;
  font-size: 14px;
  font-family: Courier New, monospace;

  .header {
    font-style: italic;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;


    // make sticky
    position: sticky;
    top: 0;

    display: flex;

    .header-text {
      flex: 1;
      cursor: pointer;
    }

    a {
      margin: -$header-vert-padding 0;
      padding: $header-vert-padding 8px;
      margin-right: 16px;
      text-decoration: none;
      border: 1px solid black;
      border-radius: $header-vert-padding;
      background: rgba(255, 255, 255, 0.95);
    }
  }

  .details {
    white-space: pre-wrap;
    padding: 4px 16px;
    margin: 0;
  }


  &.final {
    border-left: $left-border $finished-color;

    .header {
      background: mix($finished-color, #fff, 10%);
    }
  }

  &.polished {
    border-left: $left-border $polished-color;

    .header {
      background: mix($polished-color, #fff, 10%);
    }
  }

  &.initial-draft {
    border-left: $left-border $initial-draft-color;

    .header {
      background: mix($initial-draft-color, #fff, 10%);
    }
  }

  &.brainstorm {
    border-left: $left-border $brainstorm-color;

    .header {
      background: mix($brainstorm-color, #fff, 10%);
    }
  }

  &.not-started {
    border-left: $left-border $not-started-color;

    .header {
      background: mix($not-started-color, #fff, 10%);
    }
  }

}
