.timeline-wrapper {
  width: 100%;
  overflow-x: scroll;

  .timeline-row {
    position: relative;
    height: 40px;
  }

  .timeline-block {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    height: 100%;
    -webkit-box-shadow:inset 0px 0px 0px 1px #555;
    -moz-box-shadow:inset 0px 0px 0px 1px #555;
    box-shadow:inset 0px 0px 0px 1px #555;
  }

  .time-marker-row {
    height: 24px;
    position: relative;

    .marker {
      display: inline-block;
      position: absolute;
      height: 100%;
      border-left: 1px solid black;
      padding-left: 8px;
    }
  }
}
