<div class="page">
  <app-structure-template-nav
    [selectedTemplateId]="selectedTemplateUuid"
    [structureTemplateListView]="structureTemplateListView"
    (newTemplate)="newTemplate()"
    (selectTemplate)="selectTemplate($event)"
    (deleteTemplate)="deleteTemplate()"
    (generateStandardTemplates)="generateStandardTemplates()">
  </app-structure-template-nav>
  <app-structure-template-details
    class="details"
    [structureTemplate]="selectedTemplate"
    (templateUpdated)="onTemplateChanges($event)">
  </app-structure-template-details>
</div>
