
:host {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  border-bottom: 1px solid black;
  display: flex;
  padding: 0 8px;
  vertical-align: middle;

  h1 {
    flex: 1;
    margin: 0;
  }

  .timer {
    flex: 1;
    margin: auto;
  }

  a {
    margin: auto;
    padding: 0 8px;
    text-decoration: none;
  }
}

.body {
  margin: 0;
  flex: 1;
}
