<div *ngIf="(!!viewContentBlocks && !!viewContentBlocks.length); else noViewContent">
  <div *ngFor="let block of viewContentBlocks">
    <div [ngSwitch]="block.type">
      <div *ngSwitchCase="viewContentBlockTypes.HEADER">
        <h3>{{block.text}}</h3>
      </div>
      <div *ngSwitchCase="viewContentBlockTypes.PARAGRAPH">
        <p>{{block.text}}</p>
      </div>
      <div *ngSwitchCase="viewContentBlockTypes.LIST_ENTRY">
        <div *ngIf="!!(block.viewOption); else noLinkListEntry">
          <button mat-button
            (click)="updateViewContent(block.viewOption)"
          >{{block.text}}</button>
        </div>
        <ng-template #noLinkListEntry>
          <p style="margin-left: 2em;">{{block.text}}</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<ng-template #noViewContent>
  no stuff!
</ng-template>
