<div *ngIf="(!!viewContentBlocks && !!viewContentBlocks.length); else noViewContent">
  <div *ngFor="let block of viewContentBlocks">
    <div [ngSwitch]="block.type">
      <div *ngSwitchCase="viewContentBlockTypes.HEADER">
        <h3>{{block.text}}</h3>
      </div>
      <div *ngSwitchCase="viewContentBlockTypes.PARAGRAPH">
        <p>{{block.text}}</p>
      </div>
      <div *ngSwitchCase="viewContentBlockTypes.LIST_ENTRY">
        <p style="margin-left: 2em;">{{block.text}}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #noViewContent>
  no stuff!
</ng-template>
