<div [ngSwitch]="viewContent.type">
  <div *ngSwitchCase="'textLine'">
    <h3>{{viewContent.context.shortPrompt}}:</h3>
    <p>{{viewContent.content.text}}</p>
  </div>
  <div *ngSwitchCase="'textArea'">
    <h3>{{viewContent.context.shortPrompt}}:</h3>
    <p>{{viewContent.content.text}}</p>
  </div>
  <div *ngSwitchCase="'threeLines'">
    <h3>{{viewContent.context.shortPrompt}}:</h3>
    <ul>
      <li *ngFor="let entry of viewContent.content.textEntries">
        {{entry}}
      </li>
    </ul>
  </div>
  <div *ngSwitchDefault>Unknown content type!</div>
</div>
