<div class="edit-links">
  <span>&nbsp;</span>
  <a routerLink="/brainstorm-templates">Edit Brainstorm Templates</a>
</div>
<div class="brainstorm-nav-wrapper">
 <div *ngFor="let brainstormTemplate of brainstormTemplateListView"
      class="brainstorm-entry"
      [class.selected]="selectedTemplateId == brainstormTemplate.id"
      (click)="selectTemplate.emit(brainstormTemplate.id)">
   <div class="template-name">{{brainstormTemplate.label}}</div>

   <div
     *ngIf="selectedTemplateId == brainstormTemplate.id"
     class="selected-template">

     <pre class="description">{{selectedBrainstormTemplate?.template}}</pre>

     <div class="action-row">
       <button
         mat-raised-button color="primary" (click)="applyTemplate.emit()">
         Apply Template
       </button>
     </div>

   </div>
 </div>
</div>
