<div [ngSwitch]="editContext.editType">
  <div *ngSwitchCase="editTypes.TEXT_LINE">
    <form style="padding: 12px;">
      <h3>{{editContext.headerPrompt}}:</h3>
      <mat-form-field style="width: 100%;">
        <input matInput
          (input)="sendPlaintextEdit($event.target.value)"
          value="{{editContent.text}}"
        >
      </mat-form-field>
    </form>
  </div>
  <div *ngSwitchCase="editTypes.TEXT_AREA">
    <form style="padding: 12px;">
      <h3>{{editContext.headerPrompt}}:</h3>
      <mat-form-field style="width: 100%;">
        <textarea matInput
          (input)="sendPlaintextEdit($event.target.value)"
        >{{editContent.text}}</textarea>
      </mat-form-field>
    </form>
  </div>
  <div *ngSwitchCase="editTypes.THREE_LINES">
    <form style="padding: 12px;">
      <h3>{{editContext.headerPrompt}}:</h3>
      <div *ngFor="let entry of editContent.textLines; index as i;">
        <mat-form-field style="width: 100%;">
          <input matInput
             (input)="sendIndexedTextEdit($event.target.value,i)"
             value="{{entry}}"
          >
        </mat-form-field>
      </div>
    </form>
  </div>
  <div *ngSwitchCase="editTypes.MULTI_CHOICE">
    <form style="padding: 12px;">
      <h3>{{editContext.headerPrompt}}:</h3>

      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select
          [(value)]="editContent.text"
          (valueChange)="sendPlaintextEdit($event)"
        >
          <mat-option
            *ngFor="let option of editContext.multiOptions;"
            [value]="option.value"
          >
            {{option.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>{{getDesc(editContent.text)}}</p>

    </form>
  </div>
  <div *ngSwitchDefault>Unknown content type!</div>
</div>
<div *ngIf="editContext.viewOptions">
  <h4>Reference Content:</h4>
  <mat-action-list>
    <mat-list-item *ngFor="let option of editContext.viewOptions"
      (click)="requestView(option)"
    >
      {{option.label}}
    </mat-list-item>
  </mat-action-list>
</div>
