<div [ngSwitch]="editContext.editType">
  <div *ngSwitchCase="editTypes.TEXT_LINE">
    <form style="padding: 12px;">
      <h3>{{editContext.headerPrompt}}:</h3>
      <p *ngIf="editContext.userGuidance">
        {{editContext.userGuidance}}
      </p>
      <mat-form-field style="width: 100%;">
        <input matInput
          (input)="sendPlaintextEdit($event.target.value)"
          value="{{editContent.text}}"
        >
      </mat-form-field>
    </form>
  </div>
  <div *ngSwitchCase="editTypes.TEXT_AREA">
    <form style="padding: 12px;">
      <h3>{{editContext.headerPrompt}}:</h3>
      <mat-form-field style="width: 100%;">
        <textarea matInput
          (input)="sendPlaintextEdit($event.target.value)"
        >{{editContent.text}}</textarea>
      </mat-form-field>
    </form>
  </div>
  <div *ngSwitchCase="editTypes.N_LINES">
    <form style="padding: 12px;">
      <h3>{{editContext.headerPrompt}}:</h3>
      <p *ngIf="editContext.userGuidance">
        {{editContext.userGuidance}}
      </p>
      <div *ngFor="let entry of editContent.lines; index as i;"
        style="display: flex;"
      >
        <mat-form-field
          style="flex: 1;"
        >
          <input matInput
           (input)="sendIndexedTextEdit($event.target.value,i)"
           [disabled]="!entry.active"
           value="{{entry.text}}"
          >
        </mat-form-field>
        <mat-slide-toggle
          style="margin: auto 1em;"
          (input)="sendToggle($event.target.checked,i)"
          [checked]="entry.active"
          tabIndex="-1"
        ></mat-slide-toggle>
      </div>
    </form>
    <button
      mat-stroked-button
      color="primary"
      (click)="sendIndexedTextEdit('',editContent.lines.length)"
    >Add entry</button>
  </div>
  <div *ngSwitchCase="editTypes.MULTI_CHOICE">
    <form style="padding: 12px;">
      <h3>{{editContext.headerPrompt}}:</h3>

      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select
          [(value)]="editContent.text"
          (valueChange)="sendPlaintextEdit($event)"
        >
          <mat-option
            *ngFor="let option of editContext.multiOptions;"
            [value]="option.value"
          >
            {{option.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>{{getDesc(editContent.text)}}</p>

    </form>
  </div>
  <structure-edit-panel *ngSwitchCase="editTypes.STRUCTURE_SELECTION"
    [editContext]="editContext"
    [editContent]="editContent"
  ></structure-edit-panel>
  <div *ngSwitchDefault>Unknown content type!</div>
</div>
<div *ngIf="editContext.viewOptions">
  <h4>Reference Content:</h4>
  <mat-action-list>
    <mat-list-item *ngFor="let option of editContext.viewOptions"
      (click)="requestView(option)"
    >
      {{option.label}}
    </mat-list-item>
  </mat-action-list>
</div>
