<div [ngSwitch]="editContext.editType">
  <div *ngSwitchCase="editTypes.TEXT_LINE">
    <form style="padding: 12px;">
      <h3>{{editContext.headerPrompt}}:</h3>
      <mat-form-field style="width: 100%;">
        <input matInput
          (input)="sendPlaintextEdit($event.target.value)"
          value="{{editContent.text}}"
        >
      </mat-form-field>
    </form>
  </div>
  <div *ngSwitchCase="editTypes.TEXT_AREA">
    <form style="padding: 12px;">
      <h3>{{editContext.headerPrompt}}:</h3>
      <mat-form-field style="width: 100%;">
        <textarea matInput
          (input)="sendPlaintextEdit($event.target.value)"
        >{{editContent.text}}</textarea>
      </mat-form-field>
    </form>
  </div>
  <div *ngSwitchCase="editTypes.THREE_LINES">
    <form style="padding: 12px;">
      <h3>{{editContext.headerPrompt}}:</h3>
      <div *ngFor="let entry of editContent.textLines; index as i;">
        <mat-form-field style="width: 100%;">
          <input matInput
             (input)="sendIndexedTextEdit($event.target.value,i)"
             value="{{entry}}"
          >
        </mat-form-field>
      </div>
    </form>
  </div>
  <div *ngSwitchDefault>Unknown content type!</div>
</div>
