<div style="border: 1px solid darkgrey; padding: 0.5em; margin-bottom: 0.5em;">
    <div style="display: flex;">
        <mat-form-field style="flex: 1">
            <input matInput
                placeholder="Beat {{beatIndex+1}}:"
                [value]="getBeatOneliner()"
                (input)="beatInput($event)">
            
        </mat-form-field>
        <button mat-button style="flex:0;" (click)="delete()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <div>
        <mat-form-field style="width:100%;">
            <textarea matInput placeholder="Description"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [value]="getBeatDescription()"
                (input)="beatDescriptionInput($event)"
            ></textarea>
        </mat-form-field>
    </div>
    
    <div style="display: flex;">
        <div style="flex: 2; margin: auto;">
            <mat-form-field  style="width: 100px;">
                <input matInput
                    [placeholder]="'Start'"
                    [value]="getBeatStart()"
                    (input)="startEvent($event)">
            </mat-form-field>
            <mat-form-field  style="width: 100px;">
                <input matInput
                    [placeholder]="'End'"
                    [value]="getBeatEnd()"
                    (input)="endEvent($event)">
            </mat-form-field>
        </div>
        <div style="flex: 1; text-align: center;">
                <mat-form-field style="width: 100px;">
                    <input matInput
                    
                        type="number"
                        min="0"
                        max="240"
                        [placeholder]="'Duration (min)'"
                        [value]="getDuration()"
                        (input)="durationEvent($event)">
                </mat-form-field>
        </div>
        
    </div>
    <p *ngIf="!!errorMsg" style="margin: 0; color: red;">
        {{errorMsg}}
    </p>
</div>
