<h3 *ngIf="isEmpty()">no structure template selected</h3>

<quill-editor
  *ngIf="!isEmpty()"
  [ngModel]="quillContent"
  format="object"
  (onContentChanged)="onContentChanged($event)"
>
  <div quill-editor-toolbar>
    <button
            class="toolbar-button"
            (click)="addBeat()">
      <mat-icon>note_add</mat-icon>
    </button>
    <button
      class="toolbar-button"
      (click)="repair()">
      <mat-icon>restore</mat-icon>
    </button>
    <span class="toolbar-msg">
      {{errorMessage}}
      &nbsp;
    </span>
  </div>
</quill-editor>
