<h3>{{editContext.headerPrompt}}:</h3>
<p *ngIf="editContext.userGuidance">
  {{editContext.userGuidance}}
</p>
<p>Duration: {{formatDurationSec(editContext.constraints.durationSec)}}</p>

<div
  style="display: flex; flex-direction: row;"
>
  <span style="flex: 1;">&nbsp;</span>
  <div style="flex: 0;">
    <div style="height: 60px;">
      <button *ngIf="referenceViewOpen"  mat-stroked-button (click)="hideReferenceView()">
        Hide Templates
      </button>
      <button *ngIf="!referenceViewOpen"  mat-stroked-button (click)="showReferenceView()">
        Show Templates
      </button>
    </div>
    <beat-card-list
      [storyStructure]="editContent.storyStructure"
      [allowEditSequence]="true"
      [allowEditTitles]="true"
      [allowEditDescriptions]="true"
      [showHighlight]="true"
      [highlightSec]="sliderSec"
    ></beat-card-list>
    <div style="height: 60px; margin-top: 1em;">
      <button mat-stroked-button style="margin: auto; text-align: center;"
        (click)="saveTemplate()"
      >
        Save as Template
      </button>
    </div>
  </div>

  <div
    style="flex: 1; text-align: center;"
  >
    <div style="height: 60px;">
      <button *ngIf="referenceViewOpen" mat-button style="margin: auto; text-align: center;"
              (click)="copyFromTemplate()"
      >
        <mat-icon>chevron_left</mat-icon> from Template
      </button>
      &nbsp;
    </div>

    <div style="display: flex; flex-direction: column; height: 400px;">
      <p style="flex: 0; text-align: center;">{{getTimelineSliderStr()}}</p>
      <mat-slider
        style="flex: 1; margin: auto;"
        min="0"
        value="{{getTimelineSliderFrac() * 10000}}"
        (input)="onUpdateTimelineSlider($event.value / 10000)"
        max="10000"
        vertical
        invert
      ></mat-slider>
    </div>

  </div>
  <div *ngIf="referenceViewOpen"  style="flex: 0;">
    <div style="margin-left: 20px; height: 60px;">
      <mat-form-field>
        <mat-label>Select a template</mat-label>
        <mat-select
          [(value)]="referenceTemplateId"
          (valueChange)="updateReferenceTemplate($event)"
        >
          <mat-option *ngFor="let option of structureTemplateService.getOptions()"
                      [value]="option.id"
          >
            {{option.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <a target="_blank" href="#/structure-editor">
        <button mat-stroked-button style="margin-left: 1em;">
          Edit Template Options
        </button>

      </a>
    </div>
    <beat-card-list
      [storyStructure]="referenceTemplate"
      [showHighlight]="true"
      [highlightSec]="sliderSec"
    ></beat-card-list>
  </div>
  <span style="flex: 1;">&nbsp;</span>
</div>
