<div class="content-wrapper">
  <div class="story-nav">
    <h3>All Stories</h3>
    <app-beat-nav
      [selectedBeatId]="selectedBeatId"
      [beatListView]="beatListView"
      (newBeat)="newBeat()"
      (selectBeat)="selectBeat($event)"
      (deleteBeat)="deleteBeat()"></app-beat-nav>
  </div>

  <app-beat-prose-edit
    class="story-prose"
    [beat]="selectedBeat"
    (onBeatUpdated)="onBeatUpdated($event)"></app-beat-prose-edit>

  <app-beat-related-beat-nav
    class="beat-nav"
    [selectedBeatId]="selectedChildBeatId"
    [brainstormListView]="brainstormListView"
    [structureListView]="structureListView"
    (newBeat)="newChildBeat($event)"
    (selectBeat)="selectChildBeat($event)"
    (moveBeat)="moveChildBeat($event)"
    (deleteBeat)="deleteChildBeat()"></app-beat-related-beat-nav>
</div>
