.content-wrapper {
  display: flex;
}

.story-nav {
  flex: 0 250px;
}

.story-prose {
  flex: 1;
  margin-left: 16px;
  margin-right: 16px;

  .button-row {
    display: flex;
    margin-bottom: 8px;
    height: 36px;

    .spacer {
      flex: 1;
    }

    span {
      margin: auto;
    }

    button {
      margin-left: 8px;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

mat-tab-group {
  max-width: 300px;
}

.beat-nav {
  flex: 0 300px;
}
