<div class="content-wrapper">
  <app-beat-nav
    [collapsed]="beatNavCollapsed"
    [selectedBeatId]="selectedBeatId"
    [beatListView]="beatListView"
    (newBeat)="newBeat()"
    (selectBeat)="selectBeat($event)"
    (deleteBeat)="deleteBeat()"
    (toggleCollapsed)="toggleBeatNavCollapsed($event)"></app-beat-nav>

  <div class="story-prose">
    <div class="button-row">
      <button *ngIf="!!selectedBeat" mat-stroked-button (click)="openReadView()">
        Read
      </button>
      <span class="spacer">&nbsp;</span>
      <span *ngIf="parentListView.length > 0">
        Parent Beat(s):
      </span>
      <button
        *ngFor="let parentBeat of parentListView"
        mat-stroked-button
        (click)="selectParentBeat(parentBeat.id)"
        >
        {{parentBeat.name}}
      </button>
    </div>
    <app-beat-prose-edit
      [beat]="selectedBeat"
      [childSumDuration]="getChildSumDuration()"
      (onBeatUpdated)="onBeatUpdated($event)"></app-beat-prose-edit>
  </div>

  <ng-container *ngIf="!!selectedBeat">
    <div
      *ngIf="!!selectedChildBeatId"
      class="story-prose">
      <div class="button-row">
        <span class="spacer">&nbsp;</span>
        <button
          mat-stroked-button
          (click)="selectBeat(selectedChildBeatId)"
        >Edit</button>
      </div>
      <app-beat-prose-edit
        [beat]="selectedChildBeat"
        (onBeatUpdated)="onBeatUpdated($event)"></app-beat-prose-edit>
    </div>

    <app-beat-action-nav
      [selectedTabIndex]="selectedTabIndex"
      (tabIndexChange)="tabChange($event)">
      <app-beat-related-beat-nav
        *ngIf="selectedTabIndex == 0"
        class="beat-nav"
        [selectedBeatId]="selectedChildBeatId"
        [brainstormListView]="brainstormListView"
        [structureListView]="structureListView"
        (newBeat)="newChildBeat($event)"
        (selectBeat)="selectChildBeat($event)"
        (moveBeat)="moveChildBeat($event)"
        (deleteBeat)="deleteChildBeat()"></app-beat-related-beat-nav>
      <app-apply-structure-nav
        *ngIf="selectedTabIndex == 1"
        [selectedTemplateId]="selectedTemplateUuid"
        [structureTemplateListView]="structureTemplateListView"
        [rescaledSelectedTemplate]="rescaledStructureTemplate"
        (selectTemplate)="selectStructureTemplate($event)"
        (applyTemplate)="applyStructureTemplate()"
      ></app-apply-structure-nav>
      <app-beat-brainstorm-template-nav
        *ngIf="selectedTabIndex == 2"
        [selectedTemplateId]="selectedBrainstormTemplateUuid"
        [selectedBrainstormTemplate]="selectedBrainstormTemplate"
        [brainstormTemplateListView]="brainstormTemplateListView"
        (selectTemplate)="selectBrainstormTemplate($event)"
        (applyTemplate)="applyBrainstormTemplate()"
      ></app-beat-brainstorm-template-nav>
      <app-apply-tag-nav
        *ngIf="selectedTabIndex == 3"
        [tagMap]="tagMap"
        [tagReferences]="selectedBeat?.tagReferences || []"
        (updateTagUses)="updateTagUses($event)"></app-apply-tag-nav>
    </app-beat-action-nav>
  </ng-container>

</div>
