<h2>Similar Movies</h2>
<p>Here's where you can list existing movies that you like, and some details about them.</p>
<p>The point of this is to let you pin down good reference material when starting on a new project.</p>

<button mat-raised-button color="primary" (click)="addNew()">Add New</button>

<div style="display: flex; flex-direction: row;">
    <mat-action-list style="flex: 1; max-width: 50%;">
        <ng-container *ngFor="let movie of similarMovies">
            <button mat-list-item (click)="seeDetails(movie.id)" [class.selected-row]="movie.id === currentDetailId">
                {{movie.getTitle()}}
            </button>
        </ng-container>
    </mat-action-list>
    
    <form *ngIf="currentDetailMovie" style="flex:1; padding: 1em;">
        <mat-form-field style="width: 100%">
            <input matInput
                placeholder="Movie Title"
                [value]="currentDetailMovie.title || ''"
                (input)="titleInput($event)">
        </mat-form-field>
        <mat-form-field style="width: 100%">
            <input matInput
                placeholder="Runtime in Minutes"
                type="number"
                min="0"
                max="240"
                pattern="[0-9]*"
                [value]="currentDetailMovie.runtimeMin || ''"
                (input)="runtimeMinInput($event)">
        </mat-form-field>
        <mat-form-field style="width: 100%">
            <input matInput
                placeholder="The Movie DB URL"
                [value]="currentDetailMovie.tmbdUrl || ''"
                (input)="tmbdUrlInput($event)">
            <mat-hint>
                <a [href]="getTmbdSearchUrl()" target="_blank">Search TMDb</a>
            </mat-hint>
        </mat-form-field>
        <div style="text-align: right; padding-top: 1em;">
            <button mat-stroked-button
                color="primary" (click)="deleteDetail()"
            >
                Delete
            </button>
        </div>
        
    </form>
</div>

