<div>
  <a href="https://github.com/jon-simpkins/revision" target="_blank">
    Source Code
  </a>
</div>

<div *ngIf="workspaceName.length > 0">
  <h3>Workspace: {{workspaceName}}</h3>

  <div class="link-list">
    <a routerLink="structure-templates">Structure Templates</a>
    <a routerLink="brainstorm-templates">Brainstorm Templates</a>
    <a routerLink="tags">Tags</a>
    <a routerLink="beats">Beats</a>
  </div>

  <app-show-session-history></app-show-session-history>
</div>

<ng-container *ngIf="workspaceName.length == 0">
  <h3>No current workspace!</h3>

  <p>Go to the <a routerLink="data">data page</a> to load from file.</p>
</ng-container>



