<div>
  <a href="https://github.com/jon-simpkins/revision" target="_blank">
    Source Code
  </a>
</div>

<pre>
  If you want to write a {{scriptLength}} page script,
  you write a page in {{1 / pagesPerSprint}} "sprints",
  each layer of the script splits on average into {{splitFactor}} pieces,
  you give up on {{giveUpRate()}}% of stories after you get to half depth, it will take you
  {{calculateSessionsRequired() | number}} sessions ({{calculateSessionsRequired() / sessionsPerDay | number}} days)
  to complete your script, given {{sessionsPerDay / 4}} hrs of writing per day
  ({{sessionsPerDay}} 15-minute sessions).

  In a flat writing approach, it would take {{calculateFlatAlternativeSessions()}} sessions
  ({{(calculateFlatAlternativeSessions() - calculateSessionsRequired()) / sessionsPerDay}} days longer).

  <button (click)="changeParameters()">
    Change Parameters
  </button>
</pre>

<div *ngIf="workspaceName.length > 0">
  <h3>Workspace: {{workspaceName}}</h3>

  <div class="link-list">
    <a routerLink="structure-templates">Structure Templates</a>
    <a routerLink="brainstorm-templates">Brainstorm Templates</a>
    <a routerLink="tags">Tags</a>
    <a routerLink="session-history">Session History</a>
  </div>

  <div class="story-list">
    <button (click)="newStory()">
      New Story
    </button>
    <button *ngIf="!!storyListView.length" (click)="randomStory()">
      Random Story
    </button>
    <div *ngFor="let story of storyListView"
         class="story"
       (click)="navigateToStory(story.id)">
      {{story.name}}
    </div>
  </div>
</div>

<ng-container *ngIf="workspaceName.length == 0">
  <h3>No current workspace!</h3>

  <p>Go to the <a routerLink="data">data page</a> to load from file.</p>
</ng-container>



