<div class="edit-links">
  <span>&nbsp;</span>
  <a routerLink="/structure-templates">Edit Structure Templates</a>
</div>
<div class="structure-nav-wrapper">
  <div
    *ngFor="let structureTemplate of structureTemplateListView"
    class="structure-entry"
    [class.selected]="selectedTemplateId == structureTemplate.id"
    (click)="selectTemplate.emit(structureTemplate.id)">
    <div class="template-name">{{structureTemplate.name}}</div>

    <div
      *ngIf="selectedTemplateId == structureTemplate.id"
      class="selected-template">

      <p class="description">
        {{rescaledSelectedTemplate?.description}}
      </p>

      <div class="structure-beats-wrapper">
        <div *ngFor="let beat of getBeats()" class="structure-beat">
          {{beat.description}} ({{formatDurationMs(beat.intendedDurationMs)}})
        </div>
      </div>

      <div class="action-row">
        <button
          mat-raised-button color="primary" (click)="applyTemplate.emit()">
          Apply Template
        </button>
      </div>

    </div>

  </div>
</div>
