<p>Let's break this sequence into major beats!</p>

<p>
    <smart-link-btn [getTargetAction]="getStoryViewAction" label="View Story Details"></smart-link-btn>
</p>
<p>
    <smart-link-btn [getTargetAction]="getViewSequenceAction" label="View Sequence Details"></smart-link-btn>
</p>
<p>
    <smart-link-btn [getTargetAction]="getUpdateTemplateAction" label="Edit Sequence Templates"></smart-link-btn>
</p>

<h3>Current Sequence Template: {{getCurrentTemplateStr()}}</h3>
<mat-form-field>
    <mat-label>Structure Template</mat-label>
    <mat-select
        [value]="currentSelectedTemplateId"
        (valueChange)="changeSelectedTemplate($event)"
    >
      <mat-option *ngFor="let templateMapEntry of getTemplateMap() | keyvalue" [value]="templateMapEntry.key">
        {{templateMapEntry.value.oneLiner}}
      </mat-option>
    </mat-select>
    
  </mat-form-field>
  <button [disabled]="!currentSelectedTemplateId" mat-button (click)="applyTemplate()">Apply Template</button>


<div>
    <sequence-beat-card *ngFor="let templateBeat of getTemplateBeats(); let i = index"
    [beatSequenceId]="getSubsequenceId(i)"
    [templateBeat]="templateBeat"
    [beatDurationMin]="getTemplateBeatDurationMin(i)"
    [attachCallback]="getAttachSubsequenceCallback(i)"
    [detachCallback]="getDeleteSubsequenceCallback(i)"
  ></sequence-beat-card>
</div>