<div *ngIf="loginGateService.loggedIn; else notLoggedIn">
  <ng-template [ngIf]="storybookService.isInStorybook" [ngIfElse]="loggedIn">
    <h3>Mock Logged in as {{loginGateService.loggedInEmail}}</h3>
  </ng-template>
  <ng-template #loggedIn>
    <logged-in-state></logged-in-state>
  </ng-template>
</div>
<ng-template #notLoggedIn>
  <ng-template [ngIf]="storybookService.isInStorybook" [ngIfElse]="loggedOut">
    <h3>Mock Logged out</h3>
  </ng-template>
  <ng-template #loggedOut>
    <logged-out-state></logged-out-state>
  </ng-template>
</ng-template>

