<div class="left-rail" [class.collapsed]="collapsed">
  <div class="button-row">
    <button mat-icon-button (click)="onToggleCollapsed()">
      <mat-icon>{{toggleIcon()}}</mat-icon>
    </button>
    <ng-container *ngIf="!collapsed">
      <button mat-icon-button (click)="newBeat.emit()">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="deleteBeat.emit()"
        [disabled]="!canDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>
  </div>
  <mat-action-list *ngIf="!collapsed" dense>
    <button
      *ngFor="let beat of beatListView"
      mat-list-item
      (click)="selectBeat.emit(beat.id)">
      <mat-icon
        *ngIf="beat.id === selectedBeatId"
        matListIcon>
        arrow_right
      </mat-icon>
      <div mat-line>{{beat.name}} ({{formatDurationMs(beat.intendedDurationMs)}})</div>
      <div mat-line>{{beat.lastUpdated | date: 'short'}}</div>
    </button>
  </mat-action-list>
</div>
