@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: CourierPrime, monospace; }

@font-face {
  font-family: CourierPrime;
  src: url(assets/courierPrime/CourierPrime-Regular.ttf) format("truetype")
}
