<h2>Action Menu</h2>
<p>Which task do you want to work on?</p>

<div style="display: flex;">
    <div style="flex: 0;">
        <span>Synthesis/Analysis:</span>
        <div>
            <mat-checkbox color="primary"
                style="margin-right: 1em;"
            [checked]="showAnalysis" (click)="handleShowAnalysisClick($event)">
                <mat-icon>menu_book</mat-icon>
            </mat-checkbox>
            <mat-checkbox  color="primary"  [checked]="showSynthesis" (click)="handleShowSynthesisClick($event)">
                <mat-icon>edit</mat-icon>
            </mat-checkbox>
        </div>
    </div>
    <mat-slide-toggle color="primary" style="flex: 0; margin: auto 2em;"
        [checked]="showUnfinishedOnly"
        (click)="handleShowUnfinishedToggle($event)">
        Unfinished Only
    </mat-slide-toggle>
    <mat-form-field style="flex: 0;">
        <mat-label>Story Id</mat-label>
        <mat-select
            [value]="currentSelectedStoryId"
            (valueChange)="changeSelectedStory($event)"
        >
          <mat-option *ngFor="let story of storyOptions" [value]="story.value">
            {{story.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button color="primary" style="margin-left: 1em;" [disabled]="!actionOptionDataSource.length" (click)="selectRandomOption()"><mat-icon>shuffle</mat-icon></button>
    <div style="flex: 1;">&nbsp;</div>
</div>





<table mat-table [dataSource]="actionOptionDataSource" style="width: 100%; margin-bottom: 2em;">
    
    <!-- Action Column -->
    <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let option" style="padding-right: 1em;">
            <button mat-button (click)="executeOption(option)" style="width:100%; text-align: left;">
                {{option.getLabel()}}
            </button>
        </td>
    </ng-container>
    
    <!-- Story Column -->
    <ng-container matColumnDef="storyId">
        <th mat-header-cell *matHeaderCellDef> Story </th>
        <td mat-cell *matCellDef="let option"> {{option.storyId}} </td>
    </ng-container>

    <!-- Synthesis / Analysis Column -->
    <ng-container matColumnDef="synthesisAnalysis">
        <th mat-header-cell *matHeaderCellDef> Synthesis / Analysis </th>
        <td mat-cell *matCellDef="let option"> <mat-icon>{{option.getActionTypeIcon()}}</mat-icon> </td>
    </ng-container>

    <!-- Needs Completion Column -->
    <ng-container matColumnDef="needsCompletion">
        <th mat-header-cell *matHeaderCellDef> Completed </th>
        <td mat-cell *matCellDef="let option"> <mat-icon>{{option.getCompletionIcon()}}</mat-icon> </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="actionOptionColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: actionOptionColumns;"></tr>
</table>
