

:host {
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

app-writing-input {
  flex: 1;
}

.overlay {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0,0,0, 0.25);

  .fake-card {
    background: white;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    border: 1px solid black;
    margin: auto;
  }
}

