<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      *ngIf="url !== ''"
      mat-icon-button
      (click)="goToLandingPage()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Revision: {{loginGateService.loggedInEmail}}</span>
    <span class="toolbar-spacer"></span>
    <button (click)="signOut()" mat-raised-button>Sign Out</button>
  </mat-toolbar-row>
</mat-toolbar>

<div [ngSwitch]="url">
  <story-list *ngSwitchCase="'story-list'"></story-list>
  <structure-editor *ngSwitchCase="'structure-editor'"></structure-editor>
  <story-details *ngSwitchCase="'writing'"
    [storyId]="storyId"
  ></story-details>
  <landing-page *ngSwitchDefault></landing-page>
</div>

<!--<story-details *ngIf="screenService.showStoryDetails; else structureEditor"></story-details>
<ng-template #structureEditor>
  <structure-editor *ngIf="screenService.showStructureTemplateEditor; else storyList"></structure-editor>
  <ng-template #storyList>
    <story-list></story-list>
  </ng-template>
</ng-template>-->
